<form action="/toto" method="post">

<div class="form-group">
    <label for="email">Email address</label>
    <div class="input-group">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button">Email</button>
          </span>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
</div>

<div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
          <span class="input-group-btn">
              <button class="btn btn-default" ng-click="showpassword = !showpassword" type="button">Password</button>
          </span>
          <input id="password" class="form-control" placeholder="Password" ng-show="showpassword" type="text" ng-model="password">
          <input id="password" name="password" class="form-control" placeholder="Password" ng-hide="showpassword" type="password" ng-model="password">
    </div><!-- /input-group -->
</div>

<button type="submit" action="/register" method="post" class="btn btn-default pull-right">Login</button>

</div>
</form>
