<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header" style="padding-bottom:8px;">
        <a class="navbar-brand" href="#/">
            <span>Fellow Path <img alt="Fellow-Path" src="icons/logo.ico" width="16" heigh="16"><span>
            <br>
            <small>Learn anything by following the path</small>
        </a>
    </div>
    <a href="/#register" class="btn btn-default navbar-btn navbar-right spacer">Register</a>
    <a href="/#login" class="btn btn-default navbar-btn navbar-right spacer">Login</a>
</div>
</nav>
