<ul class="nav navbar-nav pull-right" style="padding-top:5px;">
   
   <li style="margin-top:1px;">
        <a href="#/ecosystem"><i class="fa fa-bar-chart" aria-hidden="true"></i> 3000</a>
   </li>

   <li>
        <a href="#/tools/credit"><i class="glyphicon glyphicon-usd"></i> 200$</a>
   </li>

   <li class="dropdown">
        <a href="#/profile"><i class="glyphicon glyphicon-user glyphicon-white"></i> Profile</a>
   </li>

   <li style="margin-top:2px;">
        <a href="/logout">Logout</a>
   </li>

</ul>
