<!-- HTML goes below -->

<input type="number" min="0" autofocus placeholder="€" style="
width:100%;
height:200px;
margin-top:150px;
font-size:200px;
opacity:0.6;
border:none;
text-decoration:none;" ng-model="amount">
</input>

<form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">
<label for="buy">Buy Now:</label>
<input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif">
<input id="type" type="hidden" name="expType" value="light">
<input id="paykey" type="hidden" name="paykey" value="insert_pay_key">
</form>

<script type="text/javascript" charset="utf-8">
//var embeddedPPFlow = new PAYPAL.apps.DGFlow({trigger: 'submitBtn'});
</script>


