<!-- HTML goes below -->

<!-- Search -->
<div style="padding-top:80px;width:70px;height:150px;" class="btn-group btn-group-justified">
	<a href="#/tools/search" class="btn btn-default">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-search"></span>
	</a>
</div>

<!-- Apps -->
<div style="padding-top:8px;width:70px;height:150px;" class="btn-group btn-group-justified">
	<a class="btn btn-default" ng-click="$ctrl.action()">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-th"></span>
	</a>
</div>

<!-- Messages -->
<div style="padding-top:8px;width:70px;height:85px;" class="btn-group btn-group-justified">
	<a href="#/tools/videochat" class="btn btn-default">
	     <span style="font-size:3.4em;" class="glyphicon glyphicon-phone-alt"></span>
	</a>
</div>

<!-- Friends -->
<div style="padding-top:8px;width:70px;height:85px;" class="btn-group btn-group-justified">
	<a href="/#/tools/chat" class="btn btn-default">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-user"></span>
	</a>
</div>
