<!-- HTML goes below -->

<!-- Calendar -->
<div style="padding-top:80px;width:70px;height:150px;" class="btn-group btn-group-justified">
	<a href="#/tools/calendar" class="btn btn-default">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-calendar"></span>
	</a>
</div>

<!-- Filters -->
<div style="padding-top:8px;width:70px;height:150px;" class="btn-group btn-group-justified">
	<a class="btn btn-default">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-filter"></span>
	</a>
</div>

<!-- Cards -->
<div style="padding-top:8px;width:70px;height:85px;" class="btn-group btn-group-justified">
	<a href="#/tools/credit" class="btn btn-default">
	     <span style="font-size:3.4em;" class="glyphicon glyphicon-credit-card"></span>
	</a>
</div>

<!-- Team -->
<div style="padding-top:8px;width:70px;height:85px;" class="btn-group btn-group-justified">
	<a href="#/tools/team" class="btn btn-default">
	     <span style="font-size:2.2em;" class="glyphicon glyphicon-bullhorn"></span>
	</a>
</div>
